prefijo_TK=TK
prefijo_SGP=SGP
prefijo_PRC=PRC
prefijo_SCOP=SCOP

sms_ws_provider=${sms_ws_provider}

tedexis_wsdl_url=http://200.41.57.109:8086/m4.in.wsint/services/M4WSIntSR?wsdl
tedexis_passport=TDXOSIOP1
tedexis_password=GLuPvZX3

infobip_ws_url=${infobip_ws_url}
infobip_ws_user=${infobip_ws_user}
infobip_ws_password=${infobip_ws_password}

scop_ordenservicio_wsdl_url_desa=https://${dominio_ws_scop_ordenservicio_desa}/scopws/services/OrdenPedidoService?wsdl
scop_ordenservicio_wsdl_url=https://${dominio_ws_scop_ordenservicio}/scopws/services/OrdenPedidoService?wsdl

sargop_wsdl_url=http://${host_ws_sargop}:${port_ws_sargop}/ws-sargop/services/Sargop?wsdl

precios_wsdl_url=http://${host_ws_precios}:${port_ws_precios}/precios-ws/services/Precios?wsdl

sargop_recibe_sms_url=${protocolo_ws_sargop}://${host_ws_sargop}:${port_ws_sargop}/ws-sargop/services/Sargop11



holacliente.ws.url=${holacliente_ws_url}
holacliente.ws.user=${holacliente_ws_user}
holacliente.ws.password=${holacliente_ws_password}